html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  /* overflow: hidden; */
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 2px;
  right: 2px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

#page-wrapper {
  height: 100%;
  width: 100%;
}