
:root {
  --blur-bg-color: rgba(0, 0, 0, 0.85);
  --primary-border-color: rgba(255, 255, 255, 0.25);
  --button-active: rgb(253, 255, 219);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: black;
}

html {
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

#page-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

canvas {
  user-select: none;
  touch-action: none;
}

button {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, p, label {
  color: white;
  margin: 0;
}

label {
  font-size: 20px;
  font-weight: 200;
}

input[type=number] {
  max-width: 10rem;
  min-width: 3rem;
  padding: 8px 1rem;
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  max-width: 10rem;
  min-width: 3rem;
  padding: 8px 1rem;
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

option {
  color: black;
}

input[type=range] {
  width: 100%;
  margin-left: 1rem;
  appearance: none;
  height: 2px;
  outline: none;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity 200ms;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 8px;
  height: 20px;
  background-color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #ffffff71; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff99; 
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 2px;
  right: 2px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-weight: 200;
}

hr {
  appearance: none;
  height: 3px;
  width: 100%;
  background: var(--primary-border-color);
  border-radius: 16px;
  border: none;
  margin: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

nav {
  overflow: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(16px) opacity(100%);
  border: solid 1px var(--primary-border-color);
  border-radius: 64px;
  max-height: 340px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.075) 300ms;
}

nav .wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.icon-wrap {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.icon-wrap button {
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-size: 100%;
}

.test-icon {
  mask-image: url(imgs/settings.svg);
}

nav:not(:has(#menu-toggle.active)) {
  max-height: calc(2rem + 48px);
}

.icon-wrap:has(#menu-toggle.active) {
  order: 1;
}

#menu-toggle {
  mask-image: url("imgs/chevron-down.svg");
}

#menu-toggle.active {
  mask-image: url("imgs/chevron-up.svg");
}

#settings-toggle {
  mask-image: url("imgs/settings.svg");
}

.icon-wrap:has(#settings-toggle) {
  order: 1;
}

#play {
  mask-image: url("imgs/play.svg");
}

.icon-wrap:has(#play) {
  order: 2;
}

#pause {
  mask-image: url("imgs/pause.svg");
  order: 4;
}

.icon-wrap:has(#pause) {
  order: 4;
}

#reset {
  mask-image: url("imgs/refresh.svg");
  order: 5;
}

.icon-wrap:has(#reset) {
  order: 5;
}

#general-toggle {
  mask-image: url(imgs/settings.svg);
}
#generation-toggle {
  mask-image: url(imgs/ball-plus.svg);
}
#abilities-toggle {
  mask-image: url(imgs/tap.svg);
}


#settings {
  position: absolute;
  width: 40%;
  max-width: calc(100% - 15rem);
  min-width: 20rem;
  max-height: 95%;
  min-height: 10rem;
  height: 75%;
  padding: 1rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(16px) opacity(100%);
  border: solid 1px var(--primary-border-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.575),
              width 0ms,
              height 0ms;
  resize: both;
  overflow: auto;
  container-type: size;
}

#settings.hidden {
  transform: translate(-50%, -10%) scale(.5);
}

#settings .overflow-auto {
  overflow: auto;
  padding: 0 2rem;
  height: 100%;
  max-height: 100%;
}

.settings-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem;
  position: relative;
}

.settings-heading h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.settings-heading .nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: clamp(1rem, 15%, 2rem);
  padding: 0 1rem 1rem 1rem;
}

.settings-heading .nav .icon-wrap {
  width: clamp(36px, 10%, 48px);
  transition: 200ms ease;
}

.settings-heading .nav .icon-wrap button {
  background-color: rgba(255, 255, 255, 0.801);
  transition: 200ms ease;
}

.settings-heading .nav .icon-wrap button.active {
  background-color: var(--button-active);
}

.settings-heading .nav .icon-wrap:has(button.active) {
  filter: drop-shadow(0 0 8px var(--button-active));
}

.icon-wrap:has(#settings-close) {
  width: 36px;
  height: 36px;
}

#settings-close {
  mask-image: url('imgs/x.svg');
}

.settings-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.settings-section, .settings-section-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.settings-section {
  padding: clamp(4px, 2%, 1rem);
  border: solid 1px var(--primary-border-color);
  background-color: rgba(255, 255, 255, 0.036);
}

.settings-section h3 {
  font-size: 26px;
}

.settings-layout {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.settings-layout > .settings-section {
  flex-basis: 20rem;
  flex-grow: 1;
  margin-bottom: 0;
  max-width: 50rem;
}

.settings-row:not(.hidden) {
  display: flex;
  opacity: 1;
}

.settings-row.hidden, .settings-section.hidden {
  display: none;
  opacity: 0;
}

.settings-section-main.hidden {
  display: none;
}

.slider-row {
  flex-direction: column;
}

.number-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-row, .number-row, .dropdown-row { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type=checkbox] {
  appearance: unset;
  width: 43px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(16px) opacity(100%);
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 200ms ease;
}

input[type=checkbox]:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.checkmark {
  background-image: url('imgs/check.svg');
}

.checkbox-container {
  position: relative;
}

.checkbox-container .checkmark {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transform: translate(-50%, -10%) scale(.5);
  opacity: 0;
  transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.575);
}

.checkbox-container:has(input:checked) .checkmark {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.checkbox-row .checkmark ~ input[type=checkbox] {
  display: block;
  width: 18px;
  height: 18px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.dropdown-row option,  .dropdown-row select {
  text-transform: capitalize;
}

#debug {
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #151718f2;
  border: solid 1px var(--primary-border-color);
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(16px);
  padding: 1rem;
}

#debug output {
  margin-top: 2rem;
  background-color: #151718f2;
  border: solid 1px #2b2d2e;
  padding: 1rem;
  height: auto;
  display: block;
  max-height: 80%;
  overflow-y: auto;
}

@media screen and (max-width: 700px) {

  input[type=number] {
    max-width: 5rem;
    min-width: 3rem;
  }

  nav {
    top: unset;
    height: 82px;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 99vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.075) 500ms;
  }

  nav {
    width: 338px;
  }

  nav .wrap {
    flex-direction: row;
  }

  #menu-toggle {
    mask-image: url("imgs/menu.svg");
  }

  #menu-toggle.active {
    mask-image: url("imgs/menu.svg");
  }

  .icon-wrap:has(#menu-toggle.active) {
    order: 3;
    position: relative;
    z-index: 1;
  }

  .icon-wrap:has(#menu-toggle) {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav:not(:has(#menu-toggle.active)) {
    max-height: unset;
    max-width: calc(2rem + 48px)
  }

  nav .icon-wrap:not(:has(#menu-toggle)) {
    transition: 150ms cubic-bezier(1,-0.25, 1, 1);
  }
  
  nav:not(:has(#menu-toggle.active)) .icon-wrap:not(:has(#menu-toggle)) {
    opacity: 0;
  }

  .icon-wrap:has(#settings-toggle) {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-48px*2 - 2rem - 24px));
  }

  .icon-wrap:has(#play) {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-48px*1 - 1rem - 24px));
  }

  .icon-wrap:has(#pause) {
    order: 4;
    position: absolute;
    left: 50%;
    transform: translateX(calc(48px*1 + 1rem - 24px));
  }

  .icon-wrap:has(#reset) {
    order: 5;
    position: absolute;
    left: 50%;
    transform: translateX(calc(48px*2 + 2rem - 24px));
  }

  #settings {
    width: 80%;
    max-height: calc(100% - 13rem)
  }
}

@media screen and (max-height: 420px) {
  #settings {
    height: 60%;
    bottom: 7rem;
    top: 3rem;
    top: unset;
    max-height: calc(100% - 9rem);
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-height: 420px) and (min-width: 700px) {
  #settings {
    transform: translate(-50%, -50%);
    height: 80%;
    max-height: calc(100% - 4rem);
    bottom: unset;
    top: 50%;
  }

  nav {
    top: -16px;
    transform: scale(.75);
  }
}

@container (max-width: 30rem) {
  #settings label, #settings select, #settings input {
    font-size: clamp(16px, 4cqw, 20px);
  }
}