
:root {
  --primary-bg-color: rgba(0, 0, 0, 0.85);
  --secondary-bg-color: rgba(255, 255, 255, 0.036);
  --bg-blur: 16px;
  --primary-border-color: rgba(255, 255, 255, 0.25);
  --primary-text-color: white;
  --icon-inactive: rgba(255, 255, 255, 0.801);
  --icon-active: rgb(253, 255, 219);
  --overlay-color: rgba(0, 0, 0, 0.25);
  --overlay-size: 4px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: black;
}

html {
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

#page-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

canvas {
  user-select: none;
  touch-action: none;
}

button {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, p, label, input, select {
  color: var(--primary-text-color);
  margin: 0;
}

label {
  font-size: 20px;
  font-weight: 200;
}

input[type=number] {
  max-width: 8rem;
  min-width: 3rem;
  margin-left: 4px;
  padding: 8px 1rem;
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  max-width: 10rem;
  min-width: 3rem;
  padding: 8px 1rem;
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

option {
  color: black;
}

input[type=range] {
  width: 100%;
  margin-left: 1rem;
  appearance: none;
  height: 2px;
  outline: none;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity 200ms;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 8px;
  height: 20px;
  background-color: var(--icon-inactive);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #ffffff71; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff99; 
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 2px;
  right: 2px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  font-weight: 200;
}

hr {
  appearance: none;
  height: 3px;
  width: 100%;
  background: var(--primary-border-color);
  border-radius: 16px;
  border: none;
  margin: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.glowing {
  box-shadow: 0 0 12px var(--primary-border-color);
}

nav {
  overflow: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: var(--primary-bg-color);
  backdrop-filter: blur(var(--bg-blur));
  border: solid 1px var(--primary-border-color);
  border-radius: 64px;
  max-height: 340px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.075) 300ms;
}

nav .wrap {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.icon-wrap {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.icon-wrap button {
  height: 100%;
  width: 100%;
  background-color: var(--icon-inactive);
  border: none;
  cursor: pointer;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-size: 100%;
}

.test-icon {
  mask-image: url(imgs/settings.svg);
}

nav:not(:has(#menu-toggle.active)) {
  max-height: calc(2rem + 48px);
}

.icon-wrap:has(#menu-toggle.active) {
  order: 1;
}

#menu-toggle {
  mask-image: url("imgs/chevron-down.svg");
}

#menu-toggle.active {
  mask-image: url("imgs/chevron-up.svg");
}

#settings-toggle {
  mask-image: url("imgs/settings.svg");
}

.icon-wrap:has(#settings-toggle) {
  order: 1;
}

#play {
  mask-image: url("imgs/play.svg");
}

.icon-wrap:has(#play) {
  order: 2;
}

#pause {
  mask-image: url("imgs/pause.svg");
  order: 4;
}

.icon-wrap:has(#pause) {
  order: 4;
}

#reset {
  mask-image: url("imgs/refresh.svg");
  order: 5;
}

.icon-wrap:has(#reset) {
  order: 5;
}

#environment-toggle {
  mask-image: url(imgs/earth.svg);
}
#generation-toggle {
  mask-image: url(imgs/ball-plus.svg);
}
#ballSettings-toggle {
  mask-image: url(imgs/ball-settings.svg);
}
#abilities-toggle {
  mask-image: url(imgs/tap.svg);
}
#display-toggle {
  mask-image: url(imgs/computer.svg);
}


#settings {
  position: absolute;
  width: 40%;
  max-width: calc(100% - 15rem);
  min-width: 20rem;
  max-height: 95%;
  min-height: 10rem;
  height: 75%;
  padding: 1rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  backdrop-filter: blur(var(--bg-blur)) opacity(100%);
  border: solid 1px var(--primary-border-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.575),
              width 0ms,
              height 0ms;
  resize: both;
  overflow: auto;
  container-type: size;
}

#settings.hidden {
  transform: translate(-50%, -10%) scale(.5);
}

#settings .overflow-auto {
  overflow: auto;
  padding: 0 2rem;
  height: 100%;
  max-height: 100%;
}

.settings-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem;
  position: relative;
}

.settings-heading h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.settings-heading .nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: clamp(1rem, 15%, 2rem);
  padding: 0 8px;
}

.settings-heading .nav .icon-wrap {
  width: clamp(36px, 10%, 48px);
  transition: 200ms ease;
}

.settings-heading .nav .icon-wrap button {
  background-color: var(--icon-inactive);
  transition: 200ms ease;
}

.settings-heading .nav .icon-wrap button.active {
  background-color: var(--icon-active);
}

.settings-heading .nav .icon-wrap:has(button.active) {
  filter: drop-shadow(0 0 8px var(--icon-active));
}

.icon-wrap:has(#settings-close) {
  width: 36px;
  height: 36px;
}

#settings-close {
  mask-image: url('imgs/x.svg');
}

.settings-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.settings-section, .settings-section-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.settings-section {
  padding: clamp(4px, 2%, 1rem);
  border: solid 1px var(--primary-border-color);
  background-color: var(--secondary-bg-color);
}

.settings-section h3 {
  font-size: 26px;
}

.settings-layout {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.settings-layout > .settings-section {
  flex-basis: 20rem;
  flex-grow: 1;
  margin-bottom: 0;
  max-width: 50rem;
}

.settings-row:not(.hidden) {
  display: flex;
  opacity: 1;
}

.settings-row.hidden, .settings-section.hidden {
  display: none;
  opacity: 0;
}

.settings-section-main.hidden {
  display: none;
}

.slider-row {
  flex-direction: column;
}

.number-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-row, .number-row, .dropdown-row { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type=checkbox] {
  appearance: unset;
  width: 43px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(16px) opacity(100%);
  border: solid 1px var(--primary-border-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 200ms ease;
}

input[type=checkbox]:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.checkmark {
  mask-image: url('imgs/check.svg');
}

.checkbox-container {
  position: relative;
}

.checkbox-container .checkmark {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -10%) scale(.5);
  opacity: 0;
  transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.575);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-size: 100%;
  background-color: var(--icon-inactive);
}

.checkbox-container:has(input:checked) .checkmark {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.checkbox-row .checkmark ~ input[type=checkbox] {
  display: block;
  width: 18px;
  height: 18px;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.dropdown-row option,  .dropdown-row select {
  text-transform: capitalize;
}

.color-row {
  flex-direction: column;
}

.color-row input[type=range] {
  margin-left: 0;
  margin-right: 1rem;
}

.settings-layout .color-row {
  flex-basis: 20rem;
  flex-grow: 1;
}

input[type=color] {
  appearance: none;
  background-color: transparent;
  width: 64px;
  height: 32px;
  border: none;
  cursor: pointer;
}

input[type=color]::-webkit-color-swatch {
  border: 1px solid #ffffff;
}

#debug {
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #151718f2;
  border: solid 1px var(--primary-border-color);
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(var(--bg-blur));
  padding: 1rem;
}

#debug output {
  margin-top: 2rem;
  background-color: #151718f2;
  border: solid 1px #2b2d2e;
  padding: 1rem;
  height: auto;
  display: block;
  max-height: 80%;
  overflow-y: auto;
}

#screenOverlay {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: center;
  filter: blur(.7px);
}

#screenOverlay.vertical.custom {
  background-image: linear-gradient(to left, var(--overlay-color), transparent);
  background-size: var(--overlay-size) 100%;
}

#screenOverlay.horizontal.custom {
  background-image: linear-gradient(to bottom, var(--overlay-color), transparent);
  background-size: 100% var(--overlay-size);
}

#screenOverlay.vertical.horizontal.custom {
  background-image: linear-gradient(to left, var(--overlay-color), transparent), linear-gradient(to bottom, var(--overlay-color), transparent);
  background-size: var(--overlay-size) 100%, 100% var(--overlay-size);
}

#screenOverlay.flicker::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
#screenOverlay.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 10;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
#page-wrapper.shadow {
  animation: textShadow 1.6s infinite;
}

@media screen and (max-width: 700px) {

  input[type=number] {
    max-width: 5rem;
    min-width: 3rem;
  }

  nav {
    top: unset;
    height: 82px;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 99vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.075) 500ms;
  }

  nav {
    width: 338px;
  }

  nav .wrap {
    flex-direction: row;
  }

  #menu-toggle {
    mask-image: url("imgs/menu.svg");
  }

  #menu-toggle.active {
    mask-image: url("imgs/menu.svg");
  }

  .icon-wrap:has(#menu-toggle.active) {
    order: 3;
    position: relative;
    z-index: 1;
  }

  .icon-wrap:has(#menu-toggle) {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav:not(:has(#menu-toggle.active)) {
    max-height: unset;
    max-width: calc(2rem + 48px)
  }

  nav .icon-wrap:not(:has(#menu-toggle)) {
    transition: 150ms cubic-bezier(1,-0.25, 1, 1);
  }
  
  nav:not(:has(#menu-toggle.active)) .icon-wrap:not(:has(#menu-toggle)) {
    opacity: 0;
  }

  .icon-wrap:has(#settings-toggle) {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-48px*2 - 2rem - 24px));
  }

  .icon-wrap:has(#play) {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-48px*1 - 1rem - 24px));
  }

  .icon-wrap:has(#pause) {
    order: 4;
    position: absolute;
    left: 50%;
    transform: translateX(calc(48px*1 + 1rem - 24px));
  }

  .icon-wrap:has(#reset) {
    order: 5;
    position: absolute;
    left: 50%;
    transform: translateX(calc(48px*2 + 2rem - 24px));
  }

  #settings {
    width: 80%;
    max-height: calc(100% - 13rem)
  }
}

@media screen and (max-height: 420px) {
  #settings {
    height: 60%;
    bottom: 7rem;
    top: 3rem;
    top: unset;
    max-height: calc(100% - 9rem);
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-height: 420px) and (min-width: 700px) {
  #settings {
    transform: translate(-50%, -50%);
    height: 80%;
    max-height: calc(100% - 4rem);
    bottom: unset;
    top: 50%;
  }

  nav {
    top: -16px;
    transform: scale(.75);
  }
}

@container (max-width: 30rem) {
  #settings label, #settings select, #settings input {
    font-size: clamp(16px, 4cqw, 20px);
  }
}


/* flicker and text shadow gotten from https://aleclownes.com/2017/02/01/crt-display.html */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}